.title {
    text-align:left;
    font-size:50px;
    font-weight:bold;
    color:black;
    margin-left:20px;

}

.time {
    text-align:left;
    font-size:30px;
    color:gray;
    margin-top:14px;
    margin-bottom:14px;
    margin-left:20px;
    
}

.img-parent {
    text-align:center;
    margin-bottom:20px;

}
